:root {
    /* colors */
    --color-Dark-Purple: rgb(24, 19, 24);
    --color-Purple: rgb(33, 29, 38);
    --color-White: rgb(242, 235, 250);
}

body {
    color: var(--color-White);
    background-color: var(--color-Dark-Purple);
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    font-family: inherit;
}

textarea {
    font-family: inherit;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
    background-color: var(--color-Purple);
    border-radius: 5px;
    border: none;
    height: 32px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

.list {
    list-style: none;
}

.list li {
    margin-top: 6px;
}

.link {
    text-decoration: none;
}

.aside-button {
    margin-top: 12px;
}

.app {
    display: flex;
    gap: 48px;
}

.sidebar {
    width: 200px;
}

.main-column {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.messages {
}

.message {
    margin-top: 16px;
    border-radius: 5px;
}

.bubble {
    display: inline-block;
    padding: 8px 12px;
    background: var(--color-Purple);
    border-radius: 16px;
    word-wrap: break-word;

    max-width: 70%;
}

.assistant {
    text-align: right;
}
.user {
    text-align: start;
}

.input-area {
    margin-top: 16px;
}

input {
    height: 32px;
    border-radius: 5px;
}

footer {
    margin-top: auto;
    text-align: center;
}
